html, body{
    font-family: 'Lato';
    color: #424551;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    width: 100%;
}

.container{
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}


.button{
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 52px;
    padding: 0 40px;
    color: #fff;
    border-radius: 4px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    white-space: nowrap;
    transition: .3s;
}

.button:hover{
    transform: scale(1.03);
}

.header { 
    background: url(../images/decor/shapes.svg) 50% 50% / cover no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, .2) 0%, rgba(247, 94, 5, .2));
    font-weight: 700;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header__top {
    
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.header__logo {
    margin-right: 60px;
}

.logo {

}
.header__nav { 
    margin-right: auto;
}
.header__nav-list { 
    display: flex;
}
.header__nav-item { 
    margin-right: 40px;
    transition: all .5s;

}

.header__nav-item:hover{
    color: #FF3F3A;

}

.header__nav-item:last-child{
    margin-right: 0;
}


.header__nav-link { 
    line-height: 1.6;
    white-space: nowrap;
}

.header__btn-box { 
    display: flex;
    align-items: center;
}
.header__top-btn { 
    margin-right: 36px;
}

.header__user-nav::before{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    content: "";
    background: url(..//images/icons/Profile.svg);
    width: 20px;
    height: 20px;
    display: block;
}

.header__user-nav {
    padding-left: 28px;
    position: relative;
    white-space: nowrap;
}

.header__user-btn:hover{
    color: #FF3F3A;
}

.header__user-btn { 
    transition: all .5s;
}
.header__body { 
    flex-grow: 1;
}



.button--empty{
    background-image: none;
    color: #F75E05;
    border: 2px solid #F75E05;
}

.header_body-inner { 
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header__main { 
    color: #1E212C;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: auto 0;
}
.header__content { 
    max-width: 500px;
    margin-right: 30px;
}
.header__play { 
    display: inline-flex;
    align-items: center;
    margin-bottom: 24px;
}
.header__play svg{
    margin-right: 16px;
    border-radius: 50%;
    transition: all .2s;
}

.header__play svg:hover{
    box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.32);
}
.header__title { 
    font-weight: 900;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 1px;
    margin-bottom: 60px;
}
.header__content-buttons {
    display: flex;
 }
.header__content-btn { 
    margin-right: 24px;
}

.header__content-btn:last-child{
    margin-right: 0;
}
.button { }
.header__img { }
.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1E212C;
    margin-bottom: 80px;
 }

 .header__row>span{
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background: #FF3F3A;
    margin: 0 15px;
 }

.header__row-item {
    display: flex;
    align-items: center;
 }

.header__row-item span{
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    margin-right: 12px;
}